/* Footer Styles */
footer {
    padding-bottom: 36px;
    background: #004E82;
    /* padding: 32px 8px; */
    width: 100%;
}

.footer-div {
    display: grid;
}

.footerGridItem {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

.footerH3, .footerP {
    color: #FFF;
    margin: 0;
}

.footerH3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.footerP {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
}