/* Footer Styles */
footer {
  padding-bottom: 36px;
  background: #004e82;
  /* padding: 32px 8px; */
  width: 100%;
}

.footer-div {
  display: grid;
}

.footerGridItem {
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.footerH3,
.footerP {
  color: #fff;
  margin: 0;
}

.footerH3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.footerP,
.footerP a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}
