.getStarted-div {
  background-color: #fff;
  margin: 64px 0;
}

.getStartedBackground {
  background-image: url(../images/getStartedBackground.png);
  background-color: #2ca4f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 8% 160px;
}

.getStartedH2 {
  font-size: 36px;
}

.grid-container {
  margin-top: -96px;
  display: grid;
  grid-template-columns: 1fr;
}
